// Redeclare global Carbon variables
$css--font-face: false !default;
$css--helpers: true !default;
$css--body: true !default;
$css--use-experimental-grid: false !default;
$css--use-experimental-grid-fallback: false !default;
$css--use-layer: true !default;
$css--reset: true !default;
$css--typography: true !default;
$css--plex: false !default;
$prefix: dn !default;
